<br>
<br>
<br>
<br>
<br>
<footer class="container-fluid" style="background-color: #000000; color: white; padding: 40px 0; font-family: Arial, sans-serif;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Columna de la imagen -->
            <div class="col-6 col-md-4 text-center mb-2">
                <img src="imagenes/logoFooter.svg" alt="Logo New Era" style="width: 150px; height: auto; margin-bottom: 20px;">
            </div>
            <!-- Columna de información -->
            <div class="col-6 col-md-4 mb-2">
                <h5 style="font-weight: bold; text-transform: uppercase;">Sobre New Era</h5>
                <p style="font-size: 9px; line-height: 1.5;">
                    Todos los derechos reservados. El nombre del producto, los logotipos y las pegatinas de la visera son marcas comerciales de New Era, todas las demás marcas son marcas comerciales de sus propietarios. Nada en este sitio puede ser copiado sin permiso por escrito.
                </p>
            </div>
            <!-- Columna de redes -->
            <div class="col-12 col-md-4 mb-2">
                <div class="d-flex justify-content-center">
                    <div class="mx-2">
                        <img src="imagenes/instaFooter.svg" alt="Instagram" style="width: 30px; height: auto;">
                    </div>
                    <div class="mx-2">
                        <img src="imagenes/faceFooter.svg" alt="Facebook" style="width: 30px; height: auto;">
                    </div>
                </div>
            </div>
        </div>
        <hr style="border-color: #444; margin: 30px 0;">
        <p style="margin-bottom: 0; font-size: 14px; text-align: center;">&copy; 2024 New Era. Todos los derechos reservados.</p>
    </div>
</footer>

